<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Delete Events</title>
  <link rel="stylesheet" href="/css/delete_events.css">
</head>
<body>
  <header>
    <h1>Delete Events</h1>
  </header>
  <div class="container">
    <% if (events.length > 0) { %>
      <% events.forEach(event => { %>
        <div class="event">
          <h2><%= event.eventName %> (<%= new Date(event.eventDate).toDateString() %>)</h2>
          <p class="wrap-text">Description: <%= event.eventDescription %></p>
          <p class="wrap-text">Type: <%= event.eventType %></p>
          <p class="wrap-text">Venue: <%= event.eventVenue %></p>
          <form action="/deleteEvent" method="POST">
            <input type="hidden" name="eventId" value="<%= event._id %>">
            <button type="submit" class="delete-button">Delete</button>
          </form>
        </div>
      <% }); %>
    <% } else { %>
      <p>No Events to delete.</p>
    <% } %>
  </div>
</body>
</html>